* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======= Navbar Section ========= */

#home-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/banner6.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    margin: 0 20%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 400;
}

.nav-items ul{
    display: flex;
}

.nav-items ul li {
    list-style-type: none;
}

.navbar h1 {
    font-size: 2rem;
    color: crimson;
}

.nav-items ul li a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    text-transform: uppercase;
}
/* ======= End Navbar Section ========== */

/* ======== Hero Section ============= */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.hero {
    margin-top: 120px;
    line-height: 2rem;
}

.hero-left p{
    font-size: 1rem;
    font-weight: 300;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero-left .cta-btn {
    padding: 13px 40px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

.hero-left .cta-btn:hover {
    transform: scale(1.1);
    color: crimson;
}

/* ==== Hero Right ===== */
.hero-right img{
    width: 30rem;
}

/* ======= About Section */

#about-me {
    height: 30vh;
    width: 100%;
    background: lightgray;
}

.about {
    display: flex;
    flex-direction: row;
    padding: 30px 10%;
}

.about-left {
    display: flex;
    flex-basis: 500px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-right p{
    font-size: 1rem;
    line-height: 1.5rem;
}

/* ======== Footer Section ======== */
#footer{
    height: 100vh;
    width: 100%;
    background: #f4f4f4;
}

.services-head {
    text-align: center;
    padding-top: 50px;
}

.services-head h2 {
    color: crimson;
    margin-bottom: 20px;
}

.services-head p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 150px;
}

.card {
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.fa {
    margin-bottom: .5rem;
}


.card-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 300px;
    margin-top: 40px;
}

